body {
  font-family: 'Arial', sans-serif;
  /* background-color: #f4f4f4; */
      background-image: url("30ac0d6f1126244e2a3889c875c2b0711663835191copy.avif");
      background-size: cover;
  margin: 0;
  padding: 0;
  /* display: flex;
  align-items: center;
  justify-content: center; */
  /* height: 100vh; */
}
.sec1{
  display: flex;
  justify-content:space-evenly;
  align-items: center;
}
#p{
  color: #fff;
  font-size: 35px;
}

.container {
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin-top: 20px;
  color: #003cff;
  
}

h1 {
  text-align: center;
  color: #333;
}

form {
  width: 500px;
  
  gap: 10px;
}

label {
  font-weight: bold;
}

input,
textarea {
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 5px;
  color: rgb(1, 25, 25);
  font-size: 18px;
  margin: 8px;
}

button {
  background-color: #007BFF;
  color: #fff;
  border: none;
  padding: 10px 15px;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}

#successMessage {
  margin-top: 20px;
  text-align: center;
  color: green;
}

.hidden {
  display: none;
}
select{
  color: #1d1d1d;
  font-size: 20px;
  background-color: #fdd5d5;
}
 option{
  color: #007BFF;
  font-size: 20px;
}
footer {
  background-color: #34495e;
  color: #fff;
  text-align: center;
  padding: 20px 0;
  margin-top: 50px;
}
